@model List<ResultAllBlogsWithAuthorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Blog Listesi</h4>
                    <p class="card-subtitle mb-4">
                        Anasayfanın blog alanında bulunan bilgileri aşağıdan düzenleyebilirsiniz. Tema bütünlüğü bozulmaması adına lütfen sadece bir tane veri girişi yapınız. Aksi durumlarda tema bütünlüğü bozulacaktır.
                    </p>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Başlık</th>
                                    <th>Yazar</th>
                                    <th>Kategori</th>
                                    <th>Tarih</th>
                                    <th>Sil</th>
                                    <th>Blog Aç</th>
                                    <th>Yorumlar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.Title</td>
                                        <td>@item.AuthorName</td>
                                        <td>@item.CategoryId</td>
                                        <td>@item.CreatedDate</td>
                                        <td><a href="/Admin/AdminBlog/RemoveBlog/@item.BlogId" class="btn btn-outline-danger">Sil</a></td>
                                        <td><a href="/Blog/BlogDetail/@item.BlogId" class="btn btn-outline-dark">Blog Aç</a></td>
                                        <td><a href="/Admin/AdminComment/Index/@item.BlogId" class="btn btn-outline-primary">Yorumlar</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

